
<label for="title">
	<f:translate key="tx_agora_domain_model_thread.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="solved">
	<f:translate key="tx_agora_domain_model_thread.solved" />
</label><br />
	<f:form.checkbox property="solved" value="1" /><br />
<label for="closed">
	<f:translate key="tx_agora_domain_model_thread.closed" />
</label><br />
	<f:form.checkbox property="closed" value="1" /><br />
<label for="sticky">
	<f:translate key="tx_agora_domain_model_thread.sticky" />
</label><br />
	<f:form.checkbox property="sticky" value="1" /><br />