<f:if condition="{user}">
	<ul class="list-group">
		<f:if condition="{favoritePosts}">
			<f:then>
				<f:for each="{favoritePosts}" as="post" iteration="iterator">
					<li class="list-group-item">
						<div class="strong h6">
							<f:link.action action="show" pluginName="Forum" controller="Post" arguments="{post:post}">
								<f:if condition="{post.topic}">
									<f:then>
										{post.topic}
									</f:then>
									<f:else>
										{post.thread.title}
									</f:else>
								</f:if>
							</f:link.action>

							<f:link.action class="small" pluginName="Forum" controller="User" action="removeFavoritePost" arguments="{post:post}">
								(<f:translate key="tx_agora_domain_model_user.observed_threads.remove" />)
							</f:link.action>

							<div class="subHeader small">
								<label class="latestCreator">
									<f:translate key="tx_agora_domain_model_user.observed_threads.username" />:
									{post.thread.creator.username}
								</label>
								<label class="latestTime">
								</label>
							</div>
						</div>
					</li>
				</f:for>
			</f:then>
			<f:else>
				<ul class="list-group">
					<li class="list-group-item">
						<f:translate key="tx_agora_domain_model_user.observed_threads.noThreads" />
					</li>
				</ul>
			</f:else>
		</f:if>
		<f:if condition="{listPid}">
			<li class="list-group-item">
				<f:link.page pageUid="{listPid}">
					<f:translate key="tx_agora_domain_model_user.observed_threads.showMore" />
				</f:link.page>
			</li>
		</f:if>
	</ul>
</f:if>