
<f:layout name="Default" />

    <f:section name="main">

    <f:flashMessages renderMode="div" />

    <f:render partial="Navigation/Thread" arguments="{thread:thread}" />

    <ul class="list-group">
        <f:for each="{posts}" as="post">
            <li class="list-group-item">
                <h4>
                    <f:link.action action="show" controller="Post" arguments="{post:post}">
                        {post.topic}
                    </f:link.action>
                </h4>
                <p>
                    <f:format.raw>{post.text}</f:format.raw>
                </p>

            </li>
        </f:for>
    </ul>

    <f:link.action action="new" arguments="{thread:thread}">New Post</f:link.action>
</f:section>