{namespace a=AgoraTeam\Agora\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages renderMode="div" />

    <f:render partial="Navigation/Post" arguments="{post:post}" />

    <f:format.raw>{post.text}</f:format.raw>

    <ul class="list-group">
        <f:for each="{post.replies}" as="reply">
            <li class="list-group-item">
                <h4>
                    <f:link.action action="show" controller="Post" arguments="{post:reply}">
                        {reply.topic}
                    </f:link.action>
                </h4>
                <p>
                    <f:format.raw>{reply.text}</f:format.raw>
                </p>
            </li>
        </f:for>
    </ul>

    <f:security.ifAuthenticated>
        <f:if condition="{a:postHasFavoriteUser(post:post,user:user)}">
            <f:then>
                <f:link.action class="btn btn-default" controller="User" action="removeFavoritePost" arguments="{post:post}">
                    <f:translate key="tx_agora_domain_model_post.removeFavorite" />
                </f:link.action>
            </f:then>
            <f:else>
                <f:link.action class="btn btn-default" controller="User" action="addFavoritePost" arguments="{post:post}">
                    <f:translate key="tx_agora_domain_model_post.favorite" />
                </f:link.action>
            </f:else>
        </f:if>
    </f:security.ifAuthenticated>

</f:section>