{namespace a=AgoraTeam\Agora\ViewHelpers}

<!-- /* Agora-Navigation-Forum: Start */ -->
<ul class="breadcrumb">
    <li>
        <f:link.action action="list" controller="Forum">
            <f:translate key="LLL:EXT:agora/Resources/Private/Language/locallang.xlf:navigation.forum.start" />
        </f:link.action>
    </li>
    <f:if condition="{forum}">
        <f:for each="{forum.rootline}" as="forumRootlineItem">
            <li>
                <f:link.action action="list" controller="Thread" arguments="{forum:forumRootlineItem}">
                    {forumRootlineItem.title}
                </f:link.action>
            </li>
        </f:for>
    </f:if>
</ul>
<!-- /* Agora-Navigation-Forum: End */ -->
