{namespace a=AgoraTeam\Agora\ViewHelpers}

<ul class="breadcrumb">
    <li>
        <f:link.action action="list" controller="Forum">
            Start
        </f:link.action>
    </li>
    <f:if condition="{forum}">
        <f:for each="{forum.rootline}" as="forumRootlineItem">
            <li>
                <f:link.action action="list" controller="Thread" arguments="{forum:forumRootlineItem}">
                    {forumRootlineItem.title}
                </f:link.action>
            </li>
        </f:for>
    </f:if>
</ul>

<f:if condition="{forum}">
    <h2>{forum.title}</h2>
</f:if>