{namespace a=AgoraTeam\Agora\ViewHelpers}

<ul class="breadcrumb">
    <li>
        <f:link.action action="list" controller="Forum">
            Start
        </f:link.action>
    </li>
    <f:for each="{post.thread.forum.rootline}" as="forumRootlineItem">
        <li>
            <f:link.action action="list" controller="Thread" arguments="{forum:forumRootlineItem}">
                {forumRootlineItem.title}
            </f:link.action>
        </li>
    </f:for>
    <li>
        <f:link.action action="list" controller="Post" arguments="{thread:post.thread}">
            {post.thread.title}
        </f:link.action>
    </li>
    <f:for each="{post.rootline}" as="postRootlineItem">
        <li>
            <f:link.action action="show" controller="Post" arguments="{post: postRootlineItem}">
                {postRootlineItem.topic -> a:parser.parsedown()}
            </f:link.action>
        </li>
    </f:for>
</ul>

<f:if condition="{post.thread.forum}">
    <h2>{post.thread.forum.title}</h2>
    <f:if condition="{post.thread}">
        <h3>{post.thread.title}</h3>
    </f:if>
    <h4>{post.topic}</h4>
</f:if>
