
<table class="tx-agora" >
	<tr>
		<td>
			<f:translate key="tx_agora_domain_model_thread.title" />
		</td>
		<td>
			{thread.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agora_domain_model_thread.solved" />
		</td>
		<td>
			{thread.solved}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agora_domain_model_thread.closed" />
		</td>
		<td>
			{thread.closed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agora_domain_model_thread.sticky" />
		</td>
		<td>
			{thread.sticky}
		</td>
	</tr>
</table>