<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages renderMode="div" />

    <f:render partial="Navigation/Thread" arguments="{forum:forum}" />

    <ul class="list-group">
        <f:for each="{threads}" as="thread">
            <li class="list-group-item">
                <f:link.action action="list" controller="Post" arguments="{thread:thread}">
                    <h2>{thread.title}</h2>
                </f:link.action>
            </li>
        </f:for>
    </ul>

    <f:link.action action="new" arguments="{forum:forum}">New Thread</f:link.action>
</f:section>