
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Forum</h1>

<f:flashMessages />

<table  class="tx_agora" >
	<tr>
		<th><f:translate key="tx_agora_domain_model_forum.title" /></th>
		<th><f:translate key="tx_agora_domain_model_forum.description" /></th>
		<th><f:translate key="tx_agora_domain_model_forum.public" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{forums}" as="forum">
		<tr>
			<td>{forum.title}</td>
			<td>{forum.description}</td>
			<td><f:link.action action="edit" arguments="{forum : forum}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{forum : forum}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Forum</f:link.action>
</f:section>