
<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
						<f:be.menus.actionMenuItem label="Create new Forum" action="new" controller="Forum" />
								<f:be.menus.actionMenuItem label="Create new Post" action="new" controller="Post" />
								<f:be.menus.actionMenuItem label="Create new Thread" action="new" controller="Thread" />
								<f:be.menus.actionMenuItem label="Create new User" action="new" controller="User" />
								<f:be.menus.actionMenuItem label="Create new Voting" action="new" controller="Voting" />
								<f:be.menus.actionMenuItem label="Create new Attachment" action="new" controller="Attachment" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
